$main-color: #1c7430;
$white-color: #fff;

$font-main: 'Open Sans', sans-serif;
$font-number: 'Nova Mono', monospace;

$font-bold: 700;
$font-semibold: 600;

$font-title: 28px;
$font-button: 16px;
$font-reload: 14px;